venv# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg

# Virtual environment
.venv/
env/
venv/
ENV/
bin/
lib/
include/

# Distribution / packaging
build/
dist/
sdist/
wheels/
*.egg-info/

# Editors and IDEs
.vscode/        # VS Code
.idea/          # PyCharm
*.swp           # Vim

# System Files
.DS_Store       # macOS
Thumbs.db       # Windows

# Specific files
.env            # Environment variables (sensitive)
pip-log.txt
